<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<select id="usr">
{%for u in usrs%}
<option value={{u.id}}>{{u.first_name}} {{u.last_name}}</option>
{%endfor%}
</select>
<select id="yr">
    <option value=2017>2017</option>
</select>
<select id="mon">
    <option value=1>Jan</option>
    <option value=2>Feb</option>
    <option value=3>Mar</option>
    <option value=4>Apr</option>
    <option value=5>May</option>
    <option value=6>Jun</option>
    <option value=7>Jul</option>
    <option value=8>Aug</option>
    <option value=9>Sep</option>
    <option value=10>Oct</option>
    <option value=11>Nov</option>
    <option value=12>Dec</option>
</select>

<form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
            <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="#" onclick="menuandtablejsonify();">
      Submit
    </a>
  </form>
<script>
    function menuandtablejsonify(){
        var usr =document.getElementById("usr");
        console.log(usr.value);
        var yr =document.getElementById("yr");
        var mon =document.getElementById("mon");
        console.log(yr.value);
        console.log(mon.value);
        var jsstr="{'user':"+usr.value+",'year':"+yr.value+",'month':"+mon.value+"}";
        var json = JSON.stringify(eval("(" + jsstr+ ")"));
        var hiddn=document.getElementById("id_rideschoices");
        hiddn.value=json;
        var foms=document.getElementsByTagName("form")[0];
        foms.submit();
    }
</script>
<br>
{{curusr}}'s Attendance Report
<table border="1">
    <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Hours</th>

    </tr>
{% for a in atts%}
    <tr>
        <td>{{a.date}}</td>
        <td>{{a.in}}</td>
        <td>{{a.out}}</td>
        <td>{{a.hours}}</td>

    </tr>

    {% endfor %}
    </table>
<br>
Average Monthly Hours:{{avgh}}
</body>
</html>