<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Welcome {{user.username}}<br>
{% if user.is_superuser %}
<a href="/employeedetails">My Employees</a>
{% endif %}

<table border="1">
    <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>IP</th>
    </tr>
    <tr>
        <td>{{todaysattendance.record_date}}</td>
        <td>{{todaysattendance.in_time}}</td>
        <td>{{todaysattendance.out_time}}</td>
        <td>{{todaysattendance.ip}}</td>
    </tr>
    {% for a in allatt %}
    <tr>
        <td>{{a.record_date}}</td>
        <td>{{a.in_time}}</td>
        <td>{{a.out_time}}</td>
        <td>{{a.ip}}</td>
    </tr>

    {% endfor %}
</table>
<span style="color:red">{{errmsg}}</span>
</body>
</html>