<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form   action="" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form}}

        <span  style="color:red;">{{errmsg}}</span>
                           <!--  <div class="mdl-textfield }}mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>

            </div>
        <br/>
      <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" id="password">
    <label class="mdl-textfield__label" for="password">password</label>

            </div>

            <br/> -->
         <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Login
</button>


        </form>

</body>
</html>